@tailwind base;
@tailwind components;
@tailwind utilities;

.selected,
.selected:hover {
  color: #FFD700; /* This is the golden color */
  text-decoration: underline;
}
.img-white {
  fill: white; /* Applies white color to SVG image */
}

.img-white {
  filter: brightness(0) invert(1); /* Applies white color to PNG image with transparent background */
}
.btn-get-started {
  border-radius: 0.375rem; 
  outline: 2px solid white;
}

.btn-get-started:hover {
  background-color: #fff; 
  color: #000;
}


